

.App {
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);

}
.header {
}

.search{
  alignment: top;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  align-items: center;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 5px 20px grey;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: ghostwhite;
}

.sidebar {
  alignment: left;
  border-radius: 10px;
  box-shadow: 0px 5px 20px grey;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: ghostwhite;
  float: left;
}

.sidebar ul{

  list-style: none;
  padding: 0;
  width: 25vw;

}

.sidebar ul li a{

  padding: 10px;
  display: inline-block;
  cursor: pointer;

}

.sidebar ul li a:hover{

  background-color: #FFBAC3;

}

.footer {
  text-align: end;
  padding: 10px 20px;
}

